<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
          class="fa fa-bars"></i>  Menu
  </button>
  <span class="w3-bar-item w3-right">Login Page</span>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-center:100px;margin-top:100px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h1><b><i class="fa fa-user w3-text-black w3-large"></i> LOG IN</b></h1>
  </header>

  <div class="w3-container">
    <!--
    <div class="w3-row">
    -->

    <div class="w3-container w3-dark-grey w3-padding-32">

      <!-- Login Form -->
      <form id="login-form" th:action="@{/authenticateTheUser}" method="POST">
        <input type="text" name="username" id="username-field" class="w3-bottombar w3-border-white"
               placeholder="Username">
        <br/>
        <br/>
        <input type="password" name="password" id="password-field" class="w3-bottombar w3-border-white"
               placeholder="Password">
        <br/>
        <br/>
        <br/>
        <input type="submit" value="Login" id="login-form-submit" class="w3-button w3-white">
        <br/>

        <!-- Register
        <div>
          <a th:href="@{/register/showRegistrationForm}" class="w3-button w3-white" aria-pressed="true">Register New User</a>
        </div>
        -->

        <br/>
        <!-- Place for messages: error, alert etc ... -->
        <div >
          <div >
            <div>

              <!-- Check for login error -->

              <div th:if="${param.error}">

                <div>
                  Invalid username and password.
                </div>

              </div>

              <!-- Check for logout -->

              <div th:if="${param.logout}">

                <div>
                  You have been logged out.
                </div>

              </div>

            </div>
          </div>
        </div>
      </form>

      <br>
    </div>
    <!--
    </div>
    -->


  </div>
  <br>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

</script>

</body>
</html>
